h3{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	background:linear-gradient(to bottom , lightgray , white);
	line-height:30px;
	color:indigo;
	text-align:center;
}
.ourclinic{
	padding:auto 2%;
}
.ourclinic div{
	width:40%;
	height:200px;
	font-style:italic;
	float:left;
	margin:auto 5%;
	text-align:center;
	font-size:18px;
}
u{
	font-size:120%;
}
/**********media query***********/

@media screen and (min-width:100px) and (max-width:500px)
{
	h3{
		line-height:20px;
	}
	.ourclinic{
		padding:auto 0.5%;
	}
	.ourclinic div{
		font-size:85%;
	}
} 